
body {
    height: 100%;
    width: 100%;
    background-image: url(../images/background.jpg);
    background-size: cover;
    
    
}

#dwight {
    position: fixed;
    float: left;
    top: 80px;
    left: 30px;
    border: 7px solid grey;
}
#container {
    height: 700px;
    text-align: center;
    width: 70%;
    background-color: bisque;
    opacity: .7;
    margin: auto;
    margin-top: 20px;
    border: solid white 4px;

}

h1 {
    font-family: 'Comfortaa', cursive;
    color:white;
    background-color: black;
    border-radius: 35px;
    opacity: 100% !important;
    height: 100px;
    font-size: 60px;
    width: 70%;
    margin: auto;
    margin-top: 20px;
    padding-top: 30px;
    border: solid white 5px;
    font-weight: 3000;

}
h2 {
    font-size: 25px;
    font-family: 'Comfortaa', cursive;
    margin-bottom: 20px;
    color: black;

}

h3 {
    font-size: 25px;
    font-family: 'Comfortaa', cursive;
    margin-bottom: 20px;
    color: black;
}

button {
    width: 50%;
    height: 65px;
    display: block;
    margin:auto;
    cursor: pointer;
    background-color: black;
    font-size: 35px;
    text-align: center;
    font-family: 'Shadows Into Light Two', cursive;
    letter-spacing: 2px;

}

#start {
    margin-top: 20%;
    color: white;
    border: 3px solid white;
    font-style: italic;
    
}

button:hover {
    background: lightseagreen;
    border: solid 4px blanchedalmond;
}